{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: em__theme
 * Generated on: Thu, 15 Feb 18 20:03:28 +0100
 */
#}
{{ attach_library('em__theme/em__theme.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
